.nav {
  grid-area: n;
  background-color: darkkhaki;
  padding-bottom: 10px;
}

.item {
   color:white;
   margin-left: 10px;
   margin-top: 8px;
   margin-right: 10px;
   border: 1px solid white;
   text-align: center;
   vertical-align: middle;
   padding: 5px;
}

.item a {
    color:black;
    cursor: pointer;
    text-decoration: none;
}

.item:hover{
    color:black;
    background-color: white;
}

.item a.active {
    color:white;
    font-weight: bold;
}