.content {
  grid-area: c;
  background-color: #61dafb
}

.contentImg {
  width: 100%;
  height:200px;
}

.item {
  color: blue;
  font-style: italic;
}


.info {
  margin: 10px;
  display: grid;
  width: 800px;

  grid-template-areas:
    "ava date";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.avatar {
  grid-area: ava;
}

.date {
  grid-area: date;
}

.newPost {
  margin: 10px;  
}

.newPost h3 {
  font-style: italic;
}

.newPost input {
  width: 80%;
  color: gray;
  padding: 10px;
  border: 1px solid blanchedalmond;
  border-radius: 10px;
}
.newPost .send_btn {
  background: greenyellow;
  color: darkblue;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  float: right;
  min-width: 150px;
  min-height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 4px;
  cursor: pointer;
}

.posts{
  margin: 10px;
}